@import 'nib'

  // nib
  support-for-ie = false

  $timing = .8s
  $blue-night = #111111
  $blue-night-2 = #000000
  $blue-day = #cccccc
  $blue-day-2 = #666666
  $moon-shade = #F8E3EF
  $w = 300px
  $h = 140px
  $offset = 8px
  $easeOutQuad = cubic-bezier(0.165, 0.84, 0.44, 1)
  $easeOutBack = cubic-bezier(0.175, 0.885, 0.32, 1.275)

  $absolute
    position absolute
    left 0
    top 0
    right 0
    bottom 0

  cicles($size, $posx, $posy, $gradient=null, $color=#fff)
    width floor($size)
    height @width
    display block
    position absolute
    left $posx
    top $posy
    if $gradient == null
      background $color
      box-shadow (@height*3) (@height*-3) 0 -3px $color
      filter blur(.5px)
    else
      background linear-gradient(unquote($gradient), $color, rgba($color, 0))
      box-shadow @height (@height*-1) 0 ($offset*-1) rgba($color, .5)
    border-radius 100%

  .switch
    width $w
    height $h
    display block
    position relative
    // Center
    margin 50px auto

    &__background
      @extends $absolute
      border-radius ($h/2)
      box-shadow 0 ($h/4) ($h/2) ($offset*-2) rgba($blue-night, .3)
      transition box-shadow $timing
      overflow hidden

      &:before
        @extends $absolute
        content ''
        background linear-gradient($blue-night, $blue-night-2)
        border-radius @border-radius
        transition opacity $timing
        overflow hidden
        z-index -2

      &:after
        @extends $absolute
        content ''
        opacity 0
        background linear-gradient(left, $blue-day, $blue-day-2)
        border-radius @border-radius
        transition opacity $timing
        // overflow hidden
        z-index -2

    &__toggle
      content ''
      height ($h - ($offset*2))
      width @height
      position relative
      display block
      top $offset
      left @top
      background white
      border-radius 100%
      box-shadow inset ($offset) ($offset*-1) 0 $moon-shade, 0 0 ($h/1.5) rgba(white, .65)
      transition left $timing, box-shadow $timing
      overflow hidden
      cursor pointer

      // Sun
      &:before
      &:after
        content ''
        height 90%
        width @height
        position absolute
        left 50%
        top 50%
        z-index -1
        opacity 0
        transition transition $timing, opacity $timing
        background rgba(white, 0.65)
        filter blur($offset)

      &:before
        transform translate(-50%, -50%) rotate(45deg)

      &:after
        transform translate(-50%, -50%)

    // Night
    &__moon
      cicles($size:($h/5), $posx:40%, $posy:35%, $gradient:'top right', $color:$moon-shade)
      transition transform $timing, opacity $timing

      &:before
        content ''
        cicles($size:($h/6), $posx:-70%, $posy:195%, $gradient:'top right', $color:$moon-shade)
        transform rotate(-60deg)

      &:after
        content ''
        cicles($size:($h/4), $posx:190%, $posy:55%, $gradient:'top right', $color:$moon-shade)

    &__stars
      cicles($size:($h/16), $posx:60%, $posy:35%, $color:white)
      transition transform $timing, opacity $timing

      &:before
        content ''
        cicles($size:($h/20), $posx:700%, $posy:560%, $color:white)
        transform rotate(-75deg)
        transition transform $timing, opacity $timing

      &:after
        content ''
        height ($h/28)
        width @height
        position absolute
        left 200%
        top 260%
        opacity 0
        background linear-gradient(left, white, rgba(white, 0))
        filter blur(.5px)
        border-radius 100%
        animation falling-stars ($timing*8) $easeOutQuad infinite
        animation-delay $timing*4
   

    &__input
      display none

      &:checked + ^[0]__background
        box-shadow 0 ($h/4) ($h/2) ($offset*-2) rgba($blue-day, .3)

        // Night
        &:before
          opacity 0
        // Day
        &:after
          opacity 1

        & ^[0]__toggle
          // transform translateX($w - $h)
          left ($w - $h + $offset) // temp fix
          box-shadow inset 0 0 0.1px white, 0 0 ($offset*4) white
          animation overlay 0s forwards
          animation-delay ($timing/2)

          &:before
          &:after
            opacity 1
            transition-delay @animation-delay

          &:before
            transform translate(-50%, -50%) rotate(45deg)
            animation spin-before ($timing*16) linear infinite

          &:after
            transform translate(-50%, -50%)
            animation spin-after ($timing*16) linear infinite

        & ^[0]__moon
          opacity 0
          transform translate(-50%, 100%) rotate(30deg)

        & ^[0]__stars
          opacity 100
          transform translateX(floor($h/3*-2))

          &:before
            opacity 100
            transform translateX(floor($h/4*-1))

          &:after
            animation none

  @keyframes overlay
    0%
      overflow hidden
    100%
      overflow visible

  @keyframes spin-before
    0%
      transform translate(-50%, -50%) rotate(45deg)
    100%
      transform translate(-50%, -50%) rotate(360deg+45)

  @keyframes spin-after
    0%
      transform translate(-50%, -50%) rotate(0)
    100%
      transform translate(-50%, -50%) rotate(360deg)

  @keyframes falling-stars
    0%
      width 50%
      opacity 1
      transform translate($h/2, ($h/2*-1)) rotate(-45deg)
    5%
      width 400%
      opacity 1
    15%
      box-shadow -100px -30px 0 -3px rgba(white)
    25%
    100%
      box-shadow -100px -30px 0 -6px rgba(white)
      width 400%
      opacity 0
      transform translate(($h/2*-1), $h/2) rotate(-45deg)
